menu {
	margin:0;
	padding:0;
}
body{
	font: 100% "Trebuchet MS", sans-serif;
	margin: 15px; 50px;
	/*
	color:white;
background-color:#4372aa;
*/
}

#main_content {
border:thin black solid;
background-color:#ECF1F6;
width: 90%;
margin-right: 5%;
border-radius: 1em;
padding: 1em;

vertical-align: center;
}

#main_content fieldset {
margin: 1em;
border-radius: 1em;

}
form .error_msg{
margin-top: .5em;

}

form .button {
  font-size: 1em;
}

form input[type="file"] {
	color:red;
	background-color: white;
	border: solid gray 1px;
}

#main_navigation a
{
	color : #4372aa;
	padding-right: .2em;
	padding-left : .2em;
}


nav li {
	display:inline;
}

#header{
color:white;
background-color:#4372aa;
border-bottom: thick solid red;

padding-bottom: 0px;
margin-bottom: 0px;

}

#eyebrow li {
	padding-left: .5em;
	margin-right: .5em;
	/*
	
	margin-left: .5em;
	*/
	border-left: white 2px solid;	
	display: inline;
}
#eyebrow li:first-of-type {
border-left: hidden;
}



#eyebrow a {
	color: white;
}

#eyebrow{
width:50%;
/*height: 15px;*/
height: 1em;

float:right;
color: white;
text-align: right;
margin-right: 1em;
}
#logo {
border: 1px solid #4372aa;
height: 170px;
}

#logo>img {
float: left;
border: 1px solid gray;
margin-right: 25px;
height: 90%;
}

#logo>h1 {
font-size: 2.5em;
/*
border: 2px solid #bff323;
*/
margin-top: 10px;

}
.error_div {
 min-height: 1em;
 height: 1em;
}

#subtitle{
/*
border: 2px solid #bff323;
*/
padding-bottom: 0px;
margin-bottom: 2px;
}

.subheader {
clear:left;
}

.error_msg {
	font-weight: bold;
	color: #DD0000;
}
#user_header {
height: 7em;
padding-left: 1em;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
border-radius: 1em;
width: 80%;
/*
border-bottom: thick solid #bff323;
*/
}
*[value^="NEW:"] {
	color: #99CC00;
}
#new_note {
	color: #99CC00;
	
}

*[value^="NEW:"]:after {
	content: "*";
}

#plus_one{
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 95%;
}
.bold{
	font-weight: bold;
}


#plus_one>h3{
	color: #4372aa;
	padding:0px;
	width: 5em;
	border-bottom: 4px solid red;
	text-align: center;
	
}
#plus_one  .inner_list{
	font-size: 90%;
	
}

#user_header>#title {
font-size: 2em;
/*
border: red solid 1px;
*/
margin-top: .5em;
margin-bottom: .5em;
}

#user_header>#user_email {
font-size: 1.2em;	
}

#user_avatar{
	height: 7em; 
	width: 7em;
	float : right;
	/*
	margin-right: .3em;
	*/
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

#tag_selector {
	min-width: 10em;
}

#post_list {
list-style:none;
list-style-position:inside;
padding: 0px;
/* This padding was added to center the posts */
padding-right: 15px;
}

li.post{
/*border: 2px solid #4372aa;*/
border: 2px outset #4372aa;
padding-top: 3px;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 0px;
border-radius: 4px;
background-color: white;
margin-top: 1em;
margin-bottom: 1em;
width: 90%;
margin-right: 5%;
margin-left: 5%;

}
.post .user_id {
font-weight: bold;
margin-top: .2em;
font-style: italic;
/*
border : 2px solid navy;
*/
}
#tags_div ,#post_entry{
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.tag_list {
list-style:none;
list-style-position:inside;
color: #3366cc;
padding: 0px;

}
.tag_list_title {
	color: #FF0000;
	font-weight: bold;
}
#tag_list option{
	display: inline-block;
}
#tag_list li:not(:first-of-type):before { 
content:", ";
}

#tag_selector {
	position: relative;
}

#selected_tags {
	visibility: hidden;
	position: absolute;
	left: -1000px;
	top: -1000px;
}

#selected_tags li{
	text-decoration: underline;
	cursor: pointer;
}

.tag_list .tag{
display: inline-block;
margin:0px;
}
.tag:not(:first-of-type):before { 
content:",";
}

.ui-autocomplete-loading {
    background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }

.timestamp
{
	padding: 2px;
	border-radius: 3px;
	color: #FF0000;
	font-size: 90%;
	font-style: italic;
	/*width: 60%;*/
	margin: 0px;
	margin-left: 1em;
	text-align: right;
}

p.post_content{
clear: right;
font-size: 100%;
background-color: #ffffcc;
border-radius: .5em;
padding: .4em; 
width: 90%;
margin: 0em 3em .6em;
} 

.post img {
	vertical-align: text-top;
	width: 2.5em;
	height: 2.5em;
}

#users_table {
	width:  100%;
	/*border-radius: .5em;
	/border: 2px solid #e63a0f;*/
}

#users_table thead {
border-radius: .5em;
}

#users_table .user_img_column img {
	/*
	height: 1.2 em;
	width: 1.2 em;
	border: 1px solid #f15933
	*/
	height: 32px;
	width: 32px;
	margin-bottom: 0px;
	margin-top: 0px;
	
	
}

#users_table tr {
	max-height: 1.3 em;
	height: 1.2 em;
}

#users_table .user_img_col
{
	max-width: 1.3;
	width 1.3em;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	
}
#users_table a.button {
	min-height : 2em;
	vertical-align: center;
}

#users_table .unfollow {
border: 1px solid #ff5930;
	background: #f15933 url(custom-theme/images/ui-bg_diagonals-small_40_f15933_40x40.png) 50% 50% repeat;
	font-weight: bold;
	color: #ffffff;
}
#users_table  a.unfollow:hover {
border: 1px solid #999999;
	background: #b4e130 url(custom-theme/images/ui-bg_diagonals-small_75_b4e130_40x40.png) 50% 50% repeat;
	font-weight: bold;
	color: #212121;
}
#users_table  a.unfollow:active {
border: 1px solid #4372aa;
	background: #4372aa url(custom-theme/images/ui-bg_diagonals-small_50_4372aa_40x40.png) 50% 50% repeat;
	font-weight: bold;
	color: #ffffff;
}
/*
.follower_list{
border: 1px solid orange;


}
.user_item {
	display: inline-block;
	border: thin solid red;
	border-radius: .3em;
	margin: 2em;
}

.follower_list .user_item>img
{
	float : left;
}
*/


#users_table .button
{
/*
	clear:left;
	width = 15em;
*/	
	text-align: center;
	font-size: 80%;
	/**/
	//height = 1em;
	width: 100%;
	
}

.follow {

//padding-right : .52em;
//padding-left: .52em;

}

a.unfollow {
padding-right : 0em;
padding-left :0em;

}


.enlarge_font {
	font-size: 100%;
}

/* From the combobox demo */
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
  

